<% layout("layouts/boilerplate.ejs") %> 
<body>
    <h2>Listings</h2>
    <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1">
        <% for(listing of allListings) { %>
          <a class="listing-link" href="/listings/<%= listing._id %>">
            <div class="card col listing-card" >
                <img 
                  src="<%= listing.image %>" 
                  class="card-img-top" 
                  style="height: 16.5rem;" 
                  alt="listing img"
                  />
                <div class="card-img-overlay"></div>  
                <div class="card-body">
                  <p>
                    <b><%= listing.title %></b><br>
                    <p class="card-text"> <%= listing.description %></p>
                    <b>₹ <%= listing.price.toLocaleString("en-IN") %> night</b>
                  </p>
                </div>
              </div>
            </a>
        <% } %>
        
    </div>

</body>
